name: check-with-upstream
permissions: {}
# Run every Monday.
on:
  schedule:
    - cron: "0 0 * * 1"
jobs:
  check-selectors-ksm:
    runs-on: ubuntu-latest
    name: Check if KSM selectors are present on applicable metrics.
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false
      - run: make --always-make check-selectors-ksm
